{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    {% if posts %}
   <h1>Количество новостей:</h1>
 <h3>{{ page_obj.paginator.count}}</h3>
   <hr>

       <table>
           <tr>
               <td> Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>

           </tr>

           {% for post in posts %}
           {% if post.choice == 'N' %}
           <tr>
               <td> {{post.heading|censor}} </td>
               <td> {{post.date_time|date:'d.m.Y'}} </td>
               <td> {{post.text|truncatewords:20|censor}} </td>

           </tr>
           {% endif %}
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}


    {% if page_obj.previous_page_number != 1 %}
        <a href="?page=1"><<</a>
        ...
        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% if page_obj.previous_page_number == 1 %}
<a href = "?page=1">1</a>
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}"> >> </a>
{% endif %}
{% endif %}

{% endblock content %}